/* Boiler Plate (key:pair;) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Text */
h1 {
    color: white;
    background-color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
    text-align: justify;
    text-transform: lowercase;
}

/* ID : Unique Only One in Whole File */
#blue {
    color: blue;
}

#content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Class : Group of Element */
.what {
    background: rebeccapurple;
    color: white;
}

/* add custom font */
@font-face {
    font-family: "MyCustomFont";
    /* Defines a name for the font */
    src: url("/fonts/MyCustomFont.woff2") format("woff2"),
        /* Specifies the font file location and format */
        url("/fonts/MyCustomFont.woff") format("woff");
    font-weight: normal;
    /* Optional: Defines the font's weight */
    font-style: normal;
    /* Optional: Defines the font's style (e.g., italic) */
}

/*  div : contianer */
div {
    height: 200px;
    width: 300px;
    background-color: red;
}

#box1 {
    margin-top: 200px;
    height: 200px;
    width: 200px;
    background: linear-gradient(red, blue);
    background: radial-gradient(white, yellow, orange, red);
    background: conic-gradient(white, yellow, orange, red);
}

#outer {
    height: 200px;
    width: 200px;
    background-color: crimson;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: black;
}

#main {
    height: 100%;
    width: 100%;
    background: conic-gradient(red, blue, red, blue);
    background-image: url(https://images.unsplash.com/photo-1489824904134-891ab64532f1?q=80&w=2831&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#box {
    /* 
    margin : outer space
    padding : inner space
    border: outer line
    border: width style color; // solid, dashed, dot, none -> no border
    */
    margin: 100px;
    padding: 50px;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 5px solid black;
    background: salmon;
}

button {
    margin: 20px;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(red, black);
    border: 2px solid #000;
}